*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body {
    overflow-x: hidden;
} */

header{
    height: 100px;
    display: flex;
     justify-content: space-between;
     font-size: xx-large;
     padding-top: 25px;
     align-items: center;
     background-color: #e0c8c8;
     /* margin: auto; */
}
.logo {
    padding-top: 10px;
    font-weight: bold;
    margin-right: 5px;
    padding-left: 20px;
}
    

.Nav-link ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-top: 10px;
    padding-left: 60px;
}


.btn{
    background-color: #ff9f00;
    border: none;
    padding: 10px 50px;
    font-size: x-large;
    gap: 10px;
}
.Right-side {
    display: flex;
    align-items: center;
    gap: 35px;
}
.icon{
    padding-right: 40px;
}
.Hero {
    height: calc(100vh - 100px); /* 90px approx header height */
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 10%;
    /* margin-bottom: auto; */
}
.image {
    position: absolute; /* Image ko background banaya */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Text iske upar dikhega */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dark layer ke liye */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 1; /* Text ko sabse upar laane ke liye */
    padding-top: 150px; /* Text ko thoda niche se shuru karne ke liye */
    padding-left: 10%;
    color: white;
}
h1{
    font-size: 80px;
    font-family: serif;
    line-height: 1.2;
}


.subtitle{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 10px;
}
.line {
    width: 40px;
    height: 2px;
    background-color: #ff9f00;
    display: inline-block;
}
.hero-btn{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.btn-orange{
    background-color: #ff9f00;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font: bold;
    text-transform: uppercase;
}
.btn-outline{
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
   text-decoration: none;
   padding-bottom: 5px;
}